{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for pair in pairs %}
      <tr>
        <td>{{ pair.0.phonenumber }}</td>
        <td>{{ pair.0.address }}</td>
        <td>{{ pair.0.comment }}</td>
        <td>
          {% if pair.0.status_int == 1 %}
            Может быть приготовлен ресторанами:
            <ul>
            {% for restaurant in pair.1 %}
              <li>{{ restaurant }}</li>
            {% endfor %}
          {% endif %}
          {% if pair.0.status_int == 2 %}
              Заказ готовится в {{ pair.0.cook_by }}
          {% endif %}
          {% if pair.0.status_int == 3 %}
              Заказ передан в доставку
          {% endif %}
          </ul>
         </td>
        <td><a href="{% url 'admin:foodcartapp_order_change' pair.0.id %}?{% for restaurant in pair.1 %}ids={{ restaurant.id | urlencode }}&{% endfor %}")>редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
