{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in new %}
      <tr>
        <td>{{ item.0.phonenumber }}</td>
        <td>{{ item.0.address }}</td>
        <td>{{ item.0.comment }}</td>
        <td>
          {% if item.0.status == 'CR' %}
            Может быть приготовлен ресторанами:
          {% endif %}
          <ul>
          {% for restaurant in item.1 %}
            <li>{{ restaurant }}</li>
          {% endfor %}
          </ul>
         </td>
        <td><a href="{% url 'admin:foodcartapp_order_change' item.0.id %}?from_orders={{ item.2 }}">редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
